.body {
  margin: 2% auto;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.get {
  margin: 2% 30%;
  border: 1px solid #343a40;
  border-radius: 15px;
  padding: 5%;
}

.get-currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element {
  margin: 5% 0;
  width: 100%;
}