.body {
  margin: 2% auto;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wallets {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
  border-radius: 5px;
}

.add-new-wallet {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.add-new-wallet-with {
  width: 30%
}