<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/fragments.css">
    <title>Document</title>
</head>
<body>

<!--     NAVIGATION FRAGMENT      -->
<div th:fragment="navigation(activeTab)">
    <nav>
        <ul style="display: flex; flex-wrap: wrap; flex-direction: row; list-style-type: none; vertical-align: center;">
            <li style="margin-right: 5px;"><a th:href="@{'/'}"> home </a></li>

            <li>
                <form sec:authorize="isAnonymous()" th:action="@{/authenticateTheUser}" method="POST">
                    <div>
                        <input type="text" name="username" placeholder="Email">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit">Log In</button>
                    </div>
                </form>
            </li>
            <li sec:authorize="isAnonymous()" style="padding: 5px;"><a th:href="@{'/sign_up'}"> Sign UP </a></li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{'/logout'}" method="post">
                    <button type="submit">Log Out</button>
                </form>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>