<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/header :: header"></head>

<body>

<header>
    <nav th:replace="fragments/navbar :: navbar"/>
</header>

<div class="container">
    <h1>DEMO</h1>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Валюта</th>
            <th>Текущая цена</th>
            <th>
                за час
            </th>
            <th>
                за день
            </th>
            <th>
                за месяц
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>TRX</td>
            <td>13.0</td>
            <td><i class="fas fa-caret-up"></i>13.85</td>
            <td><i class="fas fa-caret-up"></i>13.05</td>
            <td><i class="fas fa-caret-down"></i>12.75</td>
        </tr>
        <tr>
            <td>BTC</td>
            <td>1002.00</td>
            <td><i class="fas fa-caret-up"></i>1004.00</td>
            <td><i class="fas fa-caret-up"></i>1180.00</td>
            <td><i class="fas fa-caret-down"></i>985.00</td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>