<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<link th:href="@{/css/get.css}" href="../static/css/get.css" rel="stylesheet"/>
<title>Wallet</title>

<header th:replace="fragments/navbar :: navbar" />

<body>

<div class="body">
    <div class="get">
    <form th:action="@{/wallet/get}" method="post" class="get-currency">
        <input type="text" class="form-control element"
               th:name="quantity" placeholder="Enter quantity...">
        <button type="submit" class="btn btn-secondary element">GET</button>
    </form>
    </div>
</div>

</body>

<footer th:replace="fragments/footer :: footer" />

</html>