<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Restore password</title>
    <link rel="stylesheet" href="css/fragments.css" />
</head>
<body>
<div th:replace="~{__fragments :: navigation('login')}"></div>
<h1>Input yor email to restore password</h1>

<form th:action="@{/restorePassword}" method="POST">
    <div th:if="${not_valid} != null">
        <p th:each="oi : ${not_valid}"
           th:text="${oi}"/>
    </div>
    <input type="login" name="login" placeholder="login or email" />
    <button type="submit">SEND</button>
</form>
<a th:href="@{/}">HOME</a>
</body>
</html>