<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<link th:href="@{/css/wallet.css}" href="../static/css/wallet.css" rel="stylesheet"/>
<title>Wallet</title>

<header th:replace="fragments/navbar :: navbar" />

<body>

<div class="body">
    <div class="wallets">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Address</th>
                <th scope="col">Balance</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="w : ${wallets}">
                <td th:text="${w.currency}"/>
                <td th:text="${w.address}"/>
                <td th:text="${w.balance}"/>
                <td class="operation">
                    <a th:text="GET" th:href="@{'/wallet/get?wid=' + ${w.id}}" class="btn btn-secondary"/>
                    <a th:text="SEND" th:href="@{'/wallet/send?wid=' + ${w.id}}" class="btn btn-secondary"/>
                    <a th:text="UPDATE" th:href="@{'/wallet/update?wid=' + ${w.id}}" class="btn btn-secondary"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:action="@{/wallet/new}" method="post" class="add-new-wallet">
            <select class="custom-select add-new-wallet-with" id="inputGroupSelect01" th:name="currencyId">
                <option th:text="'Choose...'" th:value="null"/>
                <option th:each="c : ${currencies}" th:text="${c.title}" th:value="${c.id}"/>
            </select>
            <button type="submit" class="btn btn-secondary add-new-wallet-with">Get new address</button>
            <input type="text" id="disabledTextInput" class="form-control add-new-wallet-with"
                   th:value="${address}" placeholder="New address..." disabled>
        </form>
    </div>
</div>

</body>

<footer th:replace="fragments/footer :: footer" />

</html>